/* Setting up the basic body styles */
body {
  background-color: #FADBD8; /* Soft Peach */
  margin: 10px; /* Add margin to the body */
}

/* Styling the header */
header {
  background-color: #FFFFFF; /* White */
  height: 70px;
  border-radius: 10px ;
  padding: 10px; 
  margin-bottom: 20px; /* Add margin to the bottom */
}

#homeHeader {
  background-color: #FFFFFF; /* White */
  height: 70px;
  border-radius: 10px ;
  padding: 10px; 
  margin-bottom: 20px; /* Add margin to the bottom */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling the login form */
#loginForm {
  display: flex;
  align-items: center;
}

/* Styling the login form inputs and button */
#loginForm input[type="email"],
#loginForm input[type="password"],
#loginForm button {
  margin-left: 5px;
}

/* Styling the heading inside the header */
#myHeading {
  display: inline;
}

/* Styling the logo */
#logo {
  float: left;
  margin-right: 10px;
  height: 50px; 
  width: 50px; 
}

/* Styling the heading font */
.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Adjust the weight as needed */
  font-style: normal;
}

/* Styling all headings and paragraphs */
h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Adjust the weight as needed */
  font-style: normal;
  color: #000000; /* Black */
  margin: 0; /* Reset default margins */
}

/* Styling the largest heading */
h1 {
  float: left;
  font-size: 35px; /* Largest header size */
  margin-left: 16px; /* Space between border and content */
  margin-top: 5px;
}

/* Styling the third largest heading */
h3 {
  font-size: 18px; /* Second largest header */
}

/* Styling paragraphs */
p {
  font-size: 16px; /* Body text size */
}

/* Styling the image carousel */
#imageCarousel {
  color: #FFFFFF;
}

/* Styling the main section */
main {
  background-color: #FFFFFF; /* White */
  border-radius: 10px;
  margin-bottom: 20px; /* Add margin to the bottom */
}

/* Styling the contact main section */
#Contactmain {
  padding: 0px;
  background-color: #FFFFFF; /* White */
  border-radius: 10px;
}

/* Styling the contact section */
#ContactSection {
  background-color: #FFFFFF; /* White */
  border-radius: 10px;
}

/* Styling the aside section */
aside {
  background-color: #FFFFFF; /* White */
  border-radius: 10px;
}

/* Styling the footer */
footer {
  background-color: #B19CD9; /* Lavender */
  border-radius: 10px;
  margin-top: 20px; /* Add margin to the top */
  margin-bottom: 10px; /* Add margin to the bottom */
}

/* Styling the navigation */
nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Styling navigation list items */
nav li {
  border: 2px solid #E74C3C; /* Sunset Orange (Accent Colour) */
  background-color: #B19CD9; /* Lavender (Main Colour) */
  list-style-type: none;
  float: left;
  width: 15%;
  padding: 16px;
}

/* Styling navigation links */
nav li a {
  color: #FFFFFF; /* White (Secondary Text Colour) */
  text-align: center;
  text-decoration: none;
}

/* Hover effect on navigation items */
nav li:hover {
  background-color: #8E73B5; /* Darker Lavender (Selection Colour) */
}

/* Styling the active navigation item */
.active {
  background-color: #E74C3C; /* Sunset Orange (Interactive Feature Colour) */
}

/* Styling the table */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Styling table cells and headers */
table td, table th {
  border: 2px solid #F0F0F0;
  padding: 8px;
}

/* Alternating row colors in the table */
table tr:nth-child(even) {
  background-color: #F2F2F2;
}

/* Hover effect on table rows */
table tr:hover {
  background-color: #FADBD8; /* Soft Peach */
}

/* Styling table headers */
table th {
  background-color: #B19CD9; /* Lavender */
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

/* Adding padding and margin to various sections */
article, main, nav, section{
  padding: 10px;
  margin-bottom: 20px; /* Add margin to the bottom */
}

/* Styling the left column */
#left-column {
  float: left;
  width: 65%;
  padding-right: 20px;
}

/* Styling the right column */
#right-column {
  float: left;
  width: 25%; 
}

/* Styling the gallery images */
.gallery-img {
  width: 100%;
  transition: filter 0.5s, border 0.5s; /* Adding transition for smooth effect */
}

/* Styling for selected image */
.gallery-img:hover {
  border: solid blue 2px;
}

/* Styling for non-selected images */
.gallery-img:not(:hover) {
  filter: grayscale(100%) blur(2px);
}

/* Additional styles for the image gallery */
#img-gallery {
  padding-top: 10px;
}

/* Adding margin between rows in the image gallery */
#img-gallery .row {
  margin-bottom: 10px;
}

/* Creating a container for members */
.members-container {
  display: flex;
}

/* Adding margin between each member */
.col-sm {
  margin-right: 20px; /* Add spacing between each member */
}
