/* Setting up the basic body styles */
body {
  background-color: #171717; /* Operator Black */
  margin: 10px; /* Add margin to the body */
}

/* Styling the header */
header {
  background-color: #2C2C2C; /* Operator Dark Gray */
  height: 70px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px; /* Add margin to the bottom */
}

#homeHeader {
  background-color: #2C2C2C; /* Operator Dark Gray */
  height: 70px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px; /* Add margin to the bottom */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styling the login form */
#loginForm {
  display: flex;
  align-items: center;
}

/* Styling the login form inputs and button */
#loginForm input[type="email"],
#loginForm input[type="password"],
#loginForm button {
  margin-left: 5px;
}

/* Styling the heading inside the header */
#myHeading {
  display: inline;
}

/* Styling the logo */
#logo {
  float: left;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

/* Styling the heading font */
.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Adjust the weight as needed */
  font-style: normal;
}

/* Styling all headings and paragraphs */
h1, h2, h3, h4, h5, h6, p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Adjust the weight as needed */
  font-style: normal;
  color: #FFFFFF; /* White */
  margin: 0; /* Reset default margins */
}

/* Styling the largest heading */
h1 {
  float: left;
  font-size: 35px; /* Largest header size */
  margin-left: 16px; /* Space between border and content */
  margin-top: 5px;
}

/* Styling the third largest heading */
h3 {
  font-size: 18px; /* Second largest header */
}

/* Styling paragraphs */
p {
  font-size: 16px; /* Body text size */
}

/* Styling the image carousel */
#imageCarousel {
  color: #FFFFFF;
}

/* Styling the main section */
main {
  background-color: #2C2C2C; /* Operator Dark Gray */
  border-radius: 10px;
  margin-bottom: 20px; /* Add margin to the bottom */
}

/* Styling the contact main section */
#Contactmain {
  padding: 0px;
  background-color: #2C2C2C; /* Operator Dark Gray */
  border-radius: 10px;
}

/* Styling the Faw main section */
#Faqmain {
  padding: 0px;
  background-color: #2C2C2C; /* Operator Dark Gray */
  border-radius: 10px;
}

/* Styling the contact section */
#ContactSection {
  background-color: #2C2C2C; /* Operator Dark Gray */
  border-radius: 10px;
  color: #FFFFFF;
}

/* Styling the FAQ section */
#FaqSection {
  background-color: #2C2C2C; /* Operator Dark Gray */
  border-radius: 10px;
  color: #FFFFFF;
}

/* Styling the aside section */
aside {
  background-color: #2C2C2C; /* Operator Dark Gray */
  border-radius: 10px;
}

/* Styling the footer */
footer {
  background-color: #BF691A; /* Operator Orange */
  border-radius: 10px;
  margin-top: auto; /* Add margin to the top */
  margin-bottom: 10px; /* Add margin to the bottom */
  clear: both;
}

/* Styling the navigation */
nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

/* Styling navigation list items */
nav li {
  border: 2px solid #BF691A; /* Operator Orange */
  background-color: #2C2C2C; /* Operator Dark Gray */
  list-style-type: none;
  box-sizing: border-box;
  padding: 16px;
  text-align: center;
  flex: 1;
}

/* Styling navigation links */
nav li a {
  color: #FFFFFF; /* White */
  text-align: center;
  text-decoration: none;
}

/* Hover effect on navigation items */
nav li:hover {
  background-color: #383838; /* Operator Light Gray */
}

/* Styling the active navigation item */
.active {
  background-color: #BF691A; /* Operator Orange */
}

/* Styling the table */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Styling table cells and headers */
table td,
table th {
  border: 2px solid #FFFFFF; /* White */
  padding: 8px;
  vertical-align: middle;
  width: 10%;
  font-size: 10pt;
}

/* Alternating row colors in the table */
table tr:nth-child(even) {
  background-color: #383838; /* Operator Light Gray */
}

/* Hover effect on table rows */
table tr:hover {
  background-color: #4F4F4F; /* Operator Medium Gray */
}

/* Styling table headers */
table th {
  background-color: #BF691A; /* Operator Orange */
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}

/* Adding padding and margin to various sections */
article,
main,
nav,
section {
  padding: 10px;
  margin-bottom: 20px; /* Add margin to the bottom */
}

/* Styling the left column */
#left-column {
  float: left;
  width: 65%;
  padding-right: 20px;
}

/* Styling the right column */
#right-column {
  margin-left: 85px;
  float: left;
  width: 25%;
}

/* Styling the gallery images */
.gallery-img {
  width: 100%;
  transition: filter 0.5s, border 0.5s; /* Adding transition for smooth effect */
}

/* Styling for selected image */
.gallery-img:hover {
  border: solid #BF691A 2px; /* Operator Orange */
}

/* Styling for non-selected images */
.gallery-img:not(:hover) {
  filter: grayscale(100%) blur(2px);
}

/* Additional styles for the image gallery */
#img-gallery {
  padding-top: 10px;
}

/* Adding margin between rows in the image gallery */
#img-gallery .row {
  margin-bottom: 10px;
}

/* Creating a container for members */
.members-container {
  display: flex;
  text-align: center;
}

/* Adding margin between each member */
.col-sm {
  margin-right: 20px; /* Add spacing between each member */
}

.news-article {
  display: flex;
  align-items: center;
}

.article-image {
  width: 200px; /* Adjust as needed */
  margin-right: 20px; /* Adjust spacing between image and text */
}

.article-content {
  flex: 1;
}

#event-calendar {
  color: #FFFFFF;
}

/* Styling the Faq */
#faq-column {
  float: left;
  width: 100%;
  padding-right: 20px;
}
